<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>设备管理</title>

<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/font-awesome/css/font-awesome.css}" rel="stylesheet" />
<link th:href="@{/css/style.css}" rel="stylesheet" />

<link th:href="@{/css/plugins/iCheck/custom.css}" rel="stylesheet"/>
<link th:href="@{/css/plugins/footable/footable.core.css}" rel="stylesheet"/>

</head>

<body>

<div id="wrapper">
	<nav class="navbar-default navbar-static-side" role="navigation" th:include="nav :: navigation"></nav>
	<div id="page-wrapper" class="gray-bg">
		<div class="border-bottom" th:include="header :: headerTop"></div>
		<div class="row wrapper border-bottom white-bg page-heading" th:fragment="headerNav">
			<div class="col-lg-10">
				<h2>设备管理</h2>
				<ol class="breadcrumb">
					<li>
						<a href="#">首页</a>
					</li>
					<li class="active">
						<strong>设备管理</strong>
					</li>
				</ol>
			</div>
			<div class="col-lg-2">
			</div>
		</div>

		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>筛选&amp;查找</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content" style="display: block;">
							<form action="/device/deviceManage_0_0_0" class="form-inline">
								<div class="row">
									<div class="form-group">
										<label for="deviceName">&nbsp;&nbsp;设备名称：</label>
										<input id="deviceName" name="deviceName" placeholder="输入设备名称" style="width: 150px" class="form-control"
											   type="text" th:value="${device.deviceName}"/>
									</div>
									<div class="form-group">
										<label for="companyName">&nbsp;&nbsp;单位名称：</label>
										<input id="companyName" name="companyName" placeholder="输入单位名称" style="width: 150px" class="form-control"
											   type="text" th:value="${device.companyName}"/>
									</div>
									<div class="form-group">
										<label for="deviceSn">&nbsp;&nbsp;设备序列号：</label>
										<input id="deviceSn" name="deviceSn" placeholder="输入设备序列号" style="width: 150px" class="form-control"
											   type="text" th:value="${device.deviceSn}"/>
									</div>
									<br/>
									<div class="col-sm-offset-4 col-sm-3" style="margin-top: 15px;">
										<button class="btn btn-primary btn-block" type="submit"><i
												class="fa fa-search"></i>&nbsp;&nbsp;&nbsp;&nbsp;<strong>筛选</strong>
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<div class="col-lg-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>设备列表</h5>
							<div class="ibox-tools">
								<a th:href="@{'/device/addDeviceHandle'}">
									<i class="fa fa-plus" aria-hidden="true"></i> 添 加 设 备
								</a>
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<div class="table-responsive">
								<table class=" table table-bordered table-hover" data-page-size="10">
									<thead>
									<tr style="text-align: center">
										<th style="width:15%;">设备序列号</th>
										<th style="width:5%;">设备名称</th>
										<th style="width:5%;">设备IP</th>
										<th style="width:5%;">同步状态</th>
										<th style="width:5%;">在线状态</th>
										<th style="width:5%;">查看详细</th>
										<th style="width:5%;">修改</th>
									</tr>
									</thead>
									<tbody>
									<tr th:each="device : ${devices}">
										<td th:text="${device.deviceSn}">Onions</td>
										<td th:text="${device.deviceName}">Onions</td>
										<td th:text="${device.deviceIp}">Onions</td>
										<div th:switch="${device.syncState}">
											<td th:case=0 >不需更新</td>
											<td th:case=1 >更新人员</td>
											<td th:case=2 >更新设备参数</td>
											<td th:case=3 >重启</td>
											<td th:case=4 >初始化</td>
										</div>
										<div th:switch="${device.onLineState}">
											<td th:case=0 >未连接</td>
											<td th:case=1 >在线</td>
											<td th:case=2 >离线</td>
										</div>
										<td>
<!--											&nbsp;&nbsp;
											<a th:href="@{'./orderDetail?orderId='+${device.id}}" title="查看详细"><i
													class="glyphicon glyphicon-search"></i></a>
											&nbsp;&nbsp;-->
										</td>
										<td>
											&nbsp;&nbsp;
											<a th:href="@{'./updateDeviceHandle?deviceId='+${device.id}}" title="处理">
												<i class="fa fa-repeat" aria-hidden="true"></i></a>
											&nbsp;&nbsp;
										</td>
									</tr>
									</tbody>
									<tfoot>
									<tr>
										<td colspan="12">
											<ul id="pageHTML" class="pagination pull-right"></ul>
										</td>
									</tr>
									</tfoot>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer" th:include="footer :: copyright"></div>
	</div>
</div>

<!-- Mainly scripts -->
<script th:src="@{/js/jquery-2.1.1.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/plugins/metisMenu/jquery.metisMenu.js}"></script>
<script th:src="@{/js/plugins/slimscroll/jquery.slimscroll.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/plugins/peity/jquery.peity.min.js}"></script>

<!-- Custom and plugin javascript -->
<script th:src="@{/js/inspinia.js}"></script>
<script th:src="@{/js/plugins/pace/pace.min.js}"></script>

<!-- iCheck -->
<script th:src="@{/js/plugins/iCheck/icheck.min.js}"></script>

<!-- Peity -->
<script th:src="@{/js/demo/peity-demo.js}"></script>

<!-- FooTable -->
<script th:src="@{/js/plugins/footable/footable.all.min.js}"></script>

<!-- common -->
<script th:src="@{/js/common.js}"></script>

<script th:inline="javascript">
    var pageHTML = [[${pageHTML}]];
    $(document).ready(function () {
        $("#pageHTML").html(pageHTML);
    });
</script>

</body>
</html>
